analyser/schema/analysis.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://vs.uni-due.de/pcap-analyser">

    <xs:element name="AnalysisConfig" type="AnalysisConfig"/>

    <xs:complexType name="AnalysisConfig">
        <xs:choice>
            <xs:element name="Components" type="Components"/>
            <xs:element name="Connect" type="Connect" minOccurs="1"/>
            <xs:element name="Settings" type="Settings" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SpecialPackets" type="SpecialPackets" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- Pipeline Components defined in package components -->
    <xs:complexType name="Components">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element type="Parser" name="Parser"/>
            <xs:element type="Composer" name="Composer"/>
            <xs:element type="StreamCounter" name="StreamCounter"/>
            <xs:element type="PacketCounter" name="PacketCounter"/>
            <xs:element type="StreamScorer" name="StreamScorer"/>
            <xs:element type="Filter" name="Filter"/>
            <xs:element type="StreamFilter" name="StreamFilter"/>
            <xs:element type="Stat" name="Stat"/>
            <xs:element type="PacketOutput" name="PacketOutput"/>
            <xs:element type="CsvStreamOutput" name="CsvStreamOutput"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Parser">
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Composer">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="keepPayload" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="onlyDefrag" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="inEthDst" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="StreamCounter">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="2">
                <xs:element type="PortClassifier" name="PortClassifier"/>
                <xs:element type="Ip4Classifier" name="Ip4Classifier"/>
                <xs:element type="Ip4PortClassifier" name="Ip4PortClassifier"/>
                <xs:element type="DayClassifier" name="DayClassifier"/>
                <xs:element type="PayloadClassifier" name="PayloadClassifier"/>
                <xs:element type="StaticClassifier" name="StaticClassifier"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="includeScores" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PacketCounter">
        <xs:choice minOccurs="1" maxOccurs="2">
            <xs:element type="PortClassifier" name="PortClassifier"/>
            <xs:element type="Ip4Classifier" name="Ip4Classifier"/>
            <xs:element type="Ip4PortClassifier" name="Ip4PortClassifier"/>
            <xs:element type="DayClassifier" name="DayClassifier"/>
            <xs:element type="PayloadClassifier" name="PayloadClassifier"/>
            <xs:element type="StaticClassifier" name="StaticClassifier"/>
            <xs:element type="IcmpClassifier" name="IcmpClassifier"/>
            <xs:element type="TransportClassifier" name="TransportClassifier"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="layer" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="StreamScorer">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ZmapFPScore" name="ZmapFPScore"/>
            <xs:element type="MasscanFPScore" name="MasscanFPScore"/>
            <xs:element type="HandshakeScore" name="HandshakeScore"/>
            <xs:element type="PayloadScore" name="PayloadScore"/>
            <xs:element type="DurationScore" name="DurationScore"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Filter">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="bpf" type="xs:string"/>
        <xs:attribute name="minTime" type="xs:string"/>
        <xs:attribute name="maxTime" type="xs:string"/>
        <xs:attribute name="drop" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="StreamFilter">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ScoreComparator" name="ScoreComparator"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="policy" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="Stat">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="p" type="xs:float" use="required"/>
    </xs:complexType>
    <xs:complexType name="PacketOutput">
        <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element type="PortClassifier" name="PortClassifier"/>
            <xs:element type="Ip4Classifier" name="Ip4Classifier"/>
            <xs:element type="Ip4PortClassifier" name="Ip4PortClassifier"/>
            <xs:element type="DayClassifier" name="DayClassifier"/>
            <xs:element type="PayloadClassifier" name="PayloadClassifier"/>
            <xs:element type="StaticClassifier" name="StaticClassifier"/>
            <xs:element type="IcmpClassifier" name="IcmpClassifier"/>
            <xs:element type="TransportClassifier" name="TransportClassifier"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="outputFile" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="CsvStreamOutput">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="outputFile" type="xs:string" use="required"/>
        <xs:attribute name="fields" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Classifier for Packets and Streams. Defined in package classifier -->

    <xs:complexType name="PortClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="reverse" type="xs:boolean" use="optional"/>
        <xs:attribute name="both" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Ip4Classifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="reverse" type="xs:boolean" use="optional"/>
        <xs:attribute name="cidr" type="xs:integer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Ip4PortClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="reverseIp" type="xs:boolean" use="optional"/>
        <xs:attribute name="reversePort" type="xs:boolean" use="optional"/>
        <xs:attribute name="cidr" type="xs:integer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="DayClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="format" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="PayloadClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="bytes" type="xs:int" use="required"/>
        <xs:attribute name="offset" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:complexType name="StaticClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="filename" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="IcmpClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="TransportClassifier">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Connect">
        <xs:attribute name="input" type="xs:string" use="required"/>
        <xs:attribute name="output" type="xs:string"/>
        <xs:attribute name="other" type="xs:string"/>
        <xs:attribute name="no" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ZmapFPScore">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="score" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="MasscanFPScore">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="score" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="HandshakeScore">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="score" type="xs:string" use="required"/>
        <xs:attribute name="pattern" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="PayloadScore">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="score" type="xs:string" use="required"/>
        <xs:attribute name="hexVal" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="DurationScore">
        <xs:attribute name="identifier" type="xs:string" use="required"/>
        <xs:attribute name="score" type="xs:string" use="required"/>
        <xs:attribute name="minMillis" type="xs:int" use="optional"/>
        <xs:attribute name="maxMillis" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ScoreComparator">
        <xs:attribute name="score" type="xs:string" use="required"/>
        <xs:attribute name="min" type="xs:int" use="optional"/>
        <xs:attribute name="max" type="xs:int" use="optional"/>
    </xs:complexType>
    <!-- General Settings. Part of Configuration in package analyser -->

    <xs:complexType name="Settings">
        <xs:choice>
            <xs:element name="Input" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Output" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Concurrent" type="xs:int" default="1"/>
            <xs:element name="LogFile" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SpecialPackets">
        <xs:sequence minOccurs="1">
            <xs:element name="Skip" type="Skip"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Skip">
        <xs:attribute name="file" type="xs:string" use="required"/>
        <xs:attribute name="packetNumber" type="xs:int" use="required"/>
    </xs:complexType>
</xs:schema>